<section  class="about">
        <div class="container">

        	<h3>Project</h3>
        	
	        <div class="col-sm-12 gallery">
	        	<div class="col-sm-3 fl-left">
	               <img src="../../../../assets/images/ministry.jpg" alt="gallery" class="img-responsive" style="margin-top:23px;">
	            </div>
	            <div class="col-sm-9 fl-left">
	                <h2><a href="" style=" font-size: 24px;">Responding First as a Leading Power</a></h2>
	            <p>
                The emerging concept of India as a "first responder” reflects the country’s growing 
				capability and increasing willingness to assume the role of a leading power. By
				contributing its resources to prevent or mitigate regional and international crises.India
                is demonstrating its commitment as a responsible actor in the international order.
				Beyond narrow self-interest, such contributions help project India’s soft power 
				abroad and portray India in a positive light. They also reflect India’s expanding sphere of influence
               and capacity to shape events abroad....
        </p>
             <a href="" class="btn btn-primary btn-md" target="_blank" style="font-size: 15px;">Read more</a>
	            </div>
				
				
	        </div>
     
      <hr style="border-bottom: 1px solid black;margin-top: 283px;">
	        <div class="col-sm-12 gallery">
	        	<div class="col-sm-3 fl-left">
	               <img src="../../../../assets/images/logo.png" alt="gallery" class="img-responsive" style="margin-top: 46px;">
	            </div>
	            <div class="col-sm-9 fl-left">
	               <h2><a href="">INDIA-ISRAEL: A FRIENDSHIP FOR NEW TIMES, ALL TIMES</a></h2>
	               <p>"
                   Twenty five years is a short time in international relations and in many ways 
				   India-Israel diplomatic relations are still new and evolving. But when one 
				   looks at the past couple of years, it would certainly seem that the relationship 
				   has matured- from
                   the still unsure stage of adolescence to confident adulthood, shedding any 
				   doubts and artificial constraints. Like any other relationship, this one has
				   also had its share of complications and needed time andnurturing to manage them.
				   Together, we have travelled
                   for some time on a difficult and narrowpath but we have now hit the highway.
				   The relationship is now moving steadily and at a more brisk pace, under the stewardship of
				   our leaders, and developing a solid foundation for the future...</p>
        
		            <a href="" class="btn btn-primary btn-md" target="_blank" style="font-size: 15px;">Read more</a>
		
	            </div>
				
	        </div>

<hr style="border-bottom: 1px solid black;margin-top: 327px;">
	        <div class="col-sm-12 gallery">
	        	<div class="col-sm-3 fl-left">
	               <img src="../../../../assets/images/ministry.jpg" alt="gallery" class="img-responsive" style="margin-top:23px;">
	            </div>
	            <div class="col-sm-9 fl-left">
	               <h2><a href="">ASEAN-India Connectivity: Mapping Pathways of Shared Prosperity</a></h2>
				   <p>"
                       It’s an Arc of Prosperity spanning shared dreams and values of over 1.8 billion people
					   of India and 10 ASEAN states. Underpinned by a soaring vision of an Asian century, 
					   this rainbow arc is now acquiring new and innovative dimensions as India and ASEAN
                       are getting closely intertwined in a web of co-prosperity through an intricate network 
					   of rail, road, air and maritime links. Enhancing connectivity, physical, digital, 
					   civilizational and people-to-people, is the animating mantra as the leaders of India and
                       ASEAN hold their special summit on January 2018 to mark the silver jubilee of their 
					   blossoming partnership.....
                       </p>
				   
			         <a href="" class="btn btn-primary btn-md" target="_blank" style="font-size: 15px;">Read more</a>
	            </div>
	        </div>
           
		   <hr style="border-bottom: 1px solid black;margin-top: 303px;">
		   
		    <div class="col-sm-12 gallery">
	        	<div class="col-sm-3 fl-left">
	               <img src="../../../../assets/images/logo.png" alt="gallery" class="img-responsive" style="margin-top: 46px;">
	            </div>
	            <div class="col-sm-9 fl-left">
	               <h2><a href="">INDIA-ISRAEL: A FRIENDSHIP FOR NEW TIMES, ALL TIMES</a></h2>
	               <p>"
                   Twenty five years is a short time in international relations and in many ways 
				   India-Israel diplomatic relations are still new and evolving. But when one 
				   looks at the past couple of years, it would certainly seem that the relationship 
				   has matured- from
                   the still unsure stage of adolescence to confident adulthood, shedding any 
				   doubts and artificial constraints. Like any other relationship, this one has
				   also had its share of complications and needed time andnurturing to manage them.
				   Together, we have travelled
                   for some time on a difficult and narrowpath but we have now hit the highway.
				   The relationship is now moving steadily and at a more brisk pace, under the stewardship of
				   our leaders, and developing a solid foundation for the future...</p>
                     <a href="" class="btn btn-primary btn-md" target="_blank" style="font-size: 15px;">Read more</a>
	            </div>
	        </div>
			  
			  <hr style="border-bottom: 1px solid black;margin-top: 324px;">
			  
			 <div class="col-sm-12 gallery">
	        	<div class="col-sm-3 fl-left">
	               <img src="../../../../assets/images/logo.png" alt="gallery" class="img-responsive" style="margin-top: 46px;">
	            </div>
	            <div class="col-sm-9 fl-left">
	               <h2><a href="">INDIA-ISRAEL: A FRIENDSHIP FOR NEW TIMES, ALL TIMES</a></h2>
	               <p>"
                   Twenty five years is a short time in international relations and in many ways 
				   India-Israel diplomatic relations are still new and evolving. But when one 
				   looks at the past couple of years, it would certainly seem that the relationship 
				   has matured- from
                   the still unsure stage of adolescence to confident adulthood, shedding any 
				   doubts and artificial constraints. Like any other relationship, this one has
				   also had its share of complications and needed time andnurturing to manage them.
				   Together, we have travelled
                   for some time on a difficult and narrowpath but we have now hit the highway.
				   The relationship is now moving steadily and at a more brisk pace, under the stewardship of
				   our leaders, and developing a solid foundation for the future....<p>
                 <a href="" class="btn btn-primary btn-md" target="_blank" style="font-size: 15px;">Read more</a>
	            </div>
	        </div>
	       <hr style="border-bottom: 1px solid black;margin-top: 321px;">
      <!-- </section> -->