<div class="container mt-10">
        <div class="table-responsive   shadow p-3 mb-5 bg-white rounded  rounded">

                <div>
             
            
                    <ul style="list-style-type:none">
                        <li>
                          Heading 
                         <input type="text" [(ngModel)]='heading'>
                          Sub-heading
                         <input type="text" [(ngModel)]='heading'>
                          Sub-heading2
                         <input type="text" [(ngModel)]='heading'>
                         <button class="btn-primary  btn1">Add</button>
                        </li> 
                        <li>
                             <!-- Heading  -->
                            {{heading}}
                           </li> 
                    </ul>   
                </div>
             
                 </div>


</div>