
    <div class="pageload">
  
      <img src="../../../assets/images/logo-mea.svg" style="position: absolute;top: 25px; left: 15px;margin: 0 auto;width: 380px;">
  
      <a class="skip" href="javascript:void(0)"   (click)="click()"  >Skip Intro</a>
  
      <h1 class="ml3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h1>
  
    </div>
  
    <div class="afterpageload">
  
      <div class="sidemenu">
        
        <ul>
  
          <li style="margin: 0;padding: 10px;background:#02717f;">
            <a href="#">
              <img src="../../../assets/images/smalllogo.png" width="50">
            </a>
          </li>
  
          <li style="margin: 0;padding:70px 12px 10px;">
            <span class="openbtn"  (click)="openNav()">&#9776;</span>
  
            <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
          </li>
  
          <li class="rotate">
            <a href="#">Feedback</a>
          </li>
  
          <li class="rotate">
            <a href="#">FAQ</a>
          </li>
  
          <li class="rotate">
            <a href="#">Sitemap</a>
          </li>
  
          <li class="rotate">
            <a href="#">Help</a>
          </li>
  
          <li class="rotate" style="transform: none; margin-top: 80px!important;">
             <button type="button" class="search-btn"><i class="fa fa-search"></i></button>
          </li>
  
        </ul>
  
        <div id="mySidenav" class="sidenav">
      
       <ul class="nav navbar-nav navbar-right">                 
          <li class="active col-sm-12"><a href="http://testmi.in/icm" >Home</a></li>
          <li class="dropdown col-sm-12"><a routerLink='/aboutus' >About Us <i class="fa fa-angle-double-right"></i></a>
            <ul class="dropdown-menu">
               <li><a  routerLink='/aboutus'>About ICM</a></li>
               <li><a  routerLink='/ourteam'>Our Team</a></li>
               <li><a  routerLink='/formerchairman'>Formal Chairman</a></li>
               <li><a   routerLink='/highcommisioners'>Previous Hign Commisioners</a></li>
               <li><a  routerLink='/foreignservice'>Indian Foreign Service</a></li>
            </ul>
          </li> 
  
          <li class="dropdown col-sm-12"><a href="#" >Media Centre <i class="fa fa-angle-double-right"></i></a>
            <ul class="dropdown-menu">
               <li><a  routerLink='/gallery' >Photo Gallery</a></li>
               <li><a  routerLink='/videogallery' >Video Gallery</a></li>
            </ul>
          </li> 
  
          <li class="col-sm-12"><a  routerLink='/project' >Projects</a></li>
  
          <li class="dropdown col-sm-12"><a href="#" >News <i class="fa fa-angle-double-right"></i></a>
            <ul class="dropdown-menu">
               <li><a   routerLink='/announcement'>Announcement</a></li>
            </ul>
          </li>   
  
          <li class="dropdown col-sm-12"><a href="#" >Events <i class="fa fa-angle-double-right"></i></a>
            <ul class="dropdown-menu">
               <li><a  routerLink='/previousevents'>Previous Events</a></li>
               <li><a  routerLink='/upcomingevents'>Upcoming Events</a></li>
            </ul>
          </li>   
          <li class="col-sm-12"><a  routerLink='/research' >Research</a></li>
          <li class="col-sm-12"><a  routerLink='/archive' >Archieve</a></li>
          <li class="col-sm-12"><a  routerLink='/pdotraining' >PDO Training</a></li>
  
          <li class="dropdown col-sm-12"><a href="#" >RTI <i class="fa fa-angle-double-right"></i></a>
            <ul class="dropdown-menu">
               <li><a   routerLink='/rtiact'>Act</a></li>
               <li><a   routerLink='/rticomplain'>RTI Complain</a></li>
            </ul>
          </li>
  
          
          <li class="col-sm-12"><a  routerLink='/contactus'>Contact Us</a></li> 
        </ul>  
  
     </div>
  
      </div>
  
      <section class="wrapper section-header-wrapper-top">
        <div class="container container-header">
          <div class="col-sm-12">
            <a href="#" title="Home" rel="home">
               <img src="../../../assets/images/newlogo.png" class="lgo" width="220" style="margin:15px auto;display: block;">
            </a>  
           </div>
        </div>
        
      </section> 
  
      <section id="wrapper" class="top login-register">
            
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
  
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img src="../../../assets/images/banner1.jpg" alt="slider"  class="slider">
          </div>
  
          <div class="item">
            <img src="../../../assets/images/banner4.jpg" alt="slider"  class="slider">
          </div>
  
        </div>
  
      </div>
  
      <ul class="setting">
  
         <li>
            <a href="#">A+</a>
          </li>
  
          <li>
            <a href="#">A</a>
          </li>
  
          <li>
            <a href="#">A-</a>
          </li>
  
          <li>
            <a href="#" style="font-size:15px;">हिन्दी</a>
          </li>
  
        </ul>
  
        <div class="absolute scroll-to"> 
          <a href="javascript:void(0)" class="scrollto"  (click)='scrollTop()'> Skip to main content <i class="fa fa-arrow-down"></i> </a>
        </div>
               
     </section>
  
      <section  class="about home" style="background:#f0f0f0;background-image:url('images/about.png');background-repeat: no-repeat;background-size: 30%;">
        <div class="container">
  
           <div class="col-sm-8 fl-left">
  
                <h3 style="width:35%;">About ICM</h3>
  
               <p style="border: 0;padding: 10px 33px 20px 0px;color: #222;font-weight: 600;line-height: 35px;">In a rapidly globalizing world characterized by mobility of people across borders, there is a need to bring a strategic dimension to the process of emigration of Indians in search of employment. Therefore, The Ministry set up India Centre for Migration (ICM- formerly known as Indian Council of Overseas Employment) as a ‘not for profit’ society under the Societies Registration Act 1860, in July, 2008. The Centre serves as a research think-tank to the Ministry of External Affairs, Govt. of India, on all matters relating to ‘International Migration’. The Centre undertakes empirical, analytical and policy related research, and undertakes pilot projects to document good practices.</p>
  
              <div class="outer">
                    <div class="button">
                      <div class="text"><a href="#">Read More</a></div>
                    </div>
                  </div>
               
           </div>
  
           <div class="col-sm-4 fl-left">
            
              <div class="contentRightBlock">
                          <div class="ministerBox cf">
                              <div class="ministerPhoto"><img src="../../../assets/images/D_Jaishankar_New.jpg" alt="External Affairs Minister" title="External Affairs Minister" width="124" height="150"></div>
                              <div class="ministerDetails">
                              <p class="ministerName">Dr. Subrahmanyam Jaishankar<span class="designation">External Affairs Minister</span></p>
                              <ul class="ministerDetailList">
                              <li><a href="#" class="profileLink">Profile</a></li></ul>
                              </div>
                          </div>
  
                        <div class="ministerBox cf">
                            <div class="ministerPhoto"><img src="../../../assets/images/VMuraleedharan.jpg" alt="External Affairs Minister, " title="External Affairs Minister" width="124" height="150"></div>
                            <div class="ministerDetails">
                            <p class="ministerName">V. Muraleedharan<span class="designation">Minister of State for External Affairs</span></p>
                            <ul class="ministerDetailList">
                            <li><a href="#" class="profileLink">Profile</a></li></ul>
                            </div>
                        </div>
  
                        <div class="ministerBox cf">
                            <div class="ministerPhoto"><img src="../../../assets/images/D_Jaishankar_New.jpg" alt="External Affairs Minister" title="External Affairs Minister" width="124" height="150"></div>
                            <div class="ministerDetails">
                            <p class="ministerName">Dr. Subrahmanyam Jaishankar<span class="designation">External Affairs Minister</span></p>
                            <ul class="ministerDetailList">
                            <li><a href="#" class="profileLink">Profile</a></li></ul>
                            </div>
                        </div>
              
                </div>
  
           </div>
        </div>
      </section>
  
       <section class="about ab-btm" style="background:#edebe6;padding:40px 0;">
        <div class="container">
             <div class="col-sm-3 fl-left mb-40">
                 <a href="#">
                     <img src="../../../assets/images/icon1.png" alt="AA">
                 </a>
                 <h4>Media</h4>
             </div>
  
             <div class="col-sm-3 fl-left mb-40">
                 <a href="#">
                     <img src="../../../assets/images/icon3.png" alt="AA">
                 </a>
                 <h4>Event</h4>
             </div>
  
             <div class="col-sm-3 fl-left mb-40">
                 <a href="#">
                     <img src="../../../assets/images/icon1.png" alt="AA">
                 </a>
                 <h4>Research</h4>
             </div>
  
             <div class="col-sm-3 fl-left mb-40">
                 <a href="#">
                     <img src="../../../assets/images/icon3.png" alt="AA">
                 </a>
                 <h4>PDO Training</h4>
             </div>
  
             <div class="col-sm-3 fl-left">
                 <a href="#">
                 <img src="../../../assets/images/icon1.png" alt="AA">
                 </a>
                 <h4>E-book</h4>
             </div>
  
              <div class="col-sm-3 fl-left">
                 <a href="#">
                     <img src="../../../assets/images/icon3.png" alt="AA">
                 </a>
                 <h4>News</h4>
             </div>
  
              <div class="col-sm-3 fl-left">
                 <a href="#">
                     <img src="../../../assets/images/icon1.png" alt="AA">
                 </a>
                 <h4>RTI</h4>
             </div>
  
             <div class="col-sm-3 fl-left">
                 <a href="#">
                     <img src="../../../assets/images/icon3.png" alt="AA">
                 </a>
                 <h4>Projects</h4>
             </div>
  
        </div>
      </section>
  
  
      <section class="about" style="padding:40px 0;">
        <div class="container">
  
               <div class="col-sm-7 fl-left">
                <h3 style="width:30%">Events</h3>
                
                   <div id="cat-bt" class="owl-carousel">
            
                      <div class="item">
                        <figure>
                        <a href="#" title="Monuments" class="hm-fig-link">
                        <span></span>
                        <img src="../../../assets/images/event.jpg" alt="">
                        </a>
                        </figure>
                        <div class="item-cont">
                          <h4><a href="https://knowindia.gov.in/culture-and-heritage/monuments.php" class="hm-title-link" title="Monuments">Marketing Sollutions in 2020</a></h4>
                          <p style="border:0;">Donec quis metus ac arcu luctus accumsan. Nunc in justo tincidunt, sodales nunc id, finibus nibh.</p>
  
                          <div class="outer">
                            <div class="button">
                              <div class="text"><a href="#"  data-toggle="modal" data-target="#eventModal">Register</a></div>
                            </div>
                          </div>
  
                        </div>
                      </div>
                      
                     <div class="item">
                        <figure>
                        <a href="#" title="Monuments" class="hm-fig-link">
                        <span></span>
                        <img src="../../../assets/images/event.jpg" alt="">
                        </a>
                        </figure>
                        <div class="item-cont">
                          <h4><a href="https://knowindia.gov.in/culture-and-heritage/monuments.php" class="hm-title-link" title="Monuments">Marketing Sollutions in 2020</a></h4>
                          <p style="border:0;">Donec quis metus ac arcu luctus accumsan. Nunc in justo tincidunt, sodales nunc id, finibus nibh.</p>
                           
                           <div class="outer">
                            <div class="button">
                              <div class="text"><a href="#"  data-toggle="modal" data-target="#eventModal">Register</a></div>
                            </div>
                          </div>
  
                        </div>
                      </div>
  
                      <div class="item">
                        <figure>
                        <a href="#" title="Monuments" class="hm-fig-link">
                        <span></span>
                        <img src="../../../assets/images/event.jpg" alt="">
                        </a>
                        </figure>
                        <div class="item-cont">
                          <h4><a href="https://knowindia.gov.in/culture-and-heritage/monuments.php" class="hm-title-link" title="Monuments">Marketing Sollutions in 2020</a></h4>
                          <p style="border:0;">Donec quis metus ac arcu luctus accumsan. Nunc in justo tincidunt, sodales nunc id, finibus nibh.</p>
                           
                           <div class="outer">
                            <div class="button">
                              <div class="text"><a href="#"  data-toggle="modal" data-target="#eventModal">Register</a></div>
                            </div>
                          </div>
  
                        </div>
                      </div>
  
                      <div class="item">
                        <figure>
                        <a href="#" title="Monuments" class="hm-fig-link">
                        <span></span>
                        <img src="../../../assets/images/event.jpg" alt="">
                        </a>
                        </figure>
                        <div class="item-cont">
                          <h4><a href="https://knowindia.gov.in/culture-and-heritage/monuments.php" class="hm-title-link" title="Monuments">Marketing Sollutions in 2020</a></h4>
                          <p style="border:0;">Donec quis metus ac arcu luctus accumsan. Nunc in justo tincidunt, sodales nunc id, finibus nibh.</p>
                           
                           <div class="outer">
                            <div class="button">
                              <div class="text"><a href="#"  data-toggle="modal" data-target="#eventModal">Register</a></div>
                            </div>
                          </div>
  
                        </div>
                      </div>
  
               </div>
  
          </div>
  
          <div class="col-sm-5 fl-left">
                <h3 style="width:30%">News</h3>
                
                <div class="text1">
                   <ul class="marquee-vert" data-direction="up" data-duration="10000">
                    <li><a href="#">Lorem ipsum is simply dummy text for typesetting industry.</a></li>
                    <li><a href="#">Lorem ipsum is simply dummy text for typesetting industry.</a></li>
                    <li><a href="#">Lorem ipsum is simply dummy text for typesetting industry.</a></li>
                    <li><a href="#">Lorem ipsum is simply dummy text for typesetting industry.</a></li>
                    <li><a href="#">Lorem ipsum is simply dummy text for typesetting industry.</a></li>
                    <li><a href="#">Lorem ipsum is simply dummy text for typesetting industry.</a></li>
                    <li><a href="#">Lorem ipsum is simply dummy text for typesetting industry.</a></li>
                    <li><a href="#">Lorem ipsum is simply dummy text for typesetting industry.</a></li>
                    <li><a href="#">Lorem ipsum is simply dummy text for typesetting industry.</a></li>
                    <li><a href="#">Lorem ipsum is simply dummy text for typesetting industry.</a></li>
                    <li><a href="#">Lorem ipsum is simply dummy text for typesetting industry.</a></li>
                    <li><a href="#">Lorem ipsum is simply dummy text for typesetting industry.</a></li>
                    <li><a href="#">Lorem ipsum is simply dummy text for typesetting industry.</a></li>
                  </ul>
  
                   <div class="outer">
                      <div class="button">
                        <div class="text"><a href="#" class="viewall">View All</a></div>
                      </div>
                    </div>
                </div>
  
               </div>
  
            </div>   
  
      </section>
  
  
          <section  class="about" style="background: #edebe6;">
            <div class="container">
               <div class="col-sm-6 fl-left">
                <h3>Photo Gallery</h3>
  
                <div class="col-sm-6 fl-left nopadding gallery">
                   <img src="../../../assets/images/1.jpg" alt="gallery" class="img-responsive">
  
                   <div class="gal-cont">
                        <a href="#"><h4>Gallery One</h4></a>
                   </div>
  
                </div>
  
                <div class="col-sm-6 fl-left nopadding gallery">
                   <img src="../../../assets/images/2.jpg" alt="gallery" class="img-responsive">
  
                   <div class="gal-cont">
                        <a href="#"><h4>Gallery Two</h4></a>
                   </div>
  
                </div>
  
                <div class="col-sm-6 fl-left nopadding gallery">
                   <img src="../../../assets/images/3.jpg" alt="gallery" class="img-responsive">
  
                   <div class="gal-cont">
                        <a href="#"><h4>Gallery Three</h4></a>
                   </div>
  
                </div>
  
                <div class="col-sm-6 fl-left nopadding gallery">
                   <img src="../../../assets/images/4.jpg" alt="gallery" class="img-responsive">
  
                   <div class="gal-cont">
                        <a href="#"><h4>Gallery Four</h4></a>
                   </div>
                </div>
  
              
                
               </div>
  
               <div class="col-sm-6 fl-left">
                  <h3>Video</h3>
                  <div class="embed-responsive embed-responsive-16by9" style="box-shadow: 0 0 15px #cccccc;height:350px;">
                    <iframe  src="https://www.youtube.com/embed/DTA3jlTWSWQ" allowfullscreen></iframe>
                  </div>
               </div>
               
            </div>
          </section>
  
  
      <section  class="about" style="margin-bottom:50px;">
        <div class="container">
  
          <h3>E-Book</h3>
  
          <div id="ebook" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#ebook" data-slide-to="0" class="active"></li>
              <li data-target="#ebook" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
  
                <div class="col-sm-6 fl-left">
                    <div class="col-sm-4 fl-left">
                    <img src="../../../assets/images/ebook.jpg" alt="ebook" class="img-responsive pull-right">
                   </div>
  
                   <div class="col-sm-8 fl-left">
                      <h4 style="font-size:16px;font-weight: 500;">What Gandhi means to me : An Anthology</h4>
                      <p style="border: 0;padding: 0;min-height: auto;font-size:13px;">Mahatma Gandhi is one of the greatest global icons, whose thoughts and ideals give strength to millions. He emphasised on the power of truth and non-violence, which became a guiding torchlight for those individuals and societies fighting oppression, injustice and wrong.</p>
  
                       <div class="outer">
                                  <div class="button">
                                    <div class="text"><a href="#" class="viewall">View All</a></div>
                                  </div>
                                </div>
  
                   </div>
                </div>
  
                <div class="col-sm-6 fl-left">
                    <div class="col-sm-4 fl-left">
                    <img src="../../../assets/images/ebook.jpg" alt="ebook" class="img-responsive pull-right">
                   </div>
  
                   <div class="col-sm-8 fl-left">
                      <h4 style="font-size:16px;font-weight: 500;">What Gandhi means to me : An Anthology</h4>
                      <p style="border: 0;padding: 0;min-height: auto;font-size:13px;">Mahatma Gandhi is one of the greatest global icons, whose thoughts and ideals give strength to millions. He emphasised on the power of truth and non-violence, which became a guiding torchlight for those individuals and societies fighting oppression, injustice and wrong.</p>
  
                      <div class="outer">
                        <div class="button">
                         <div class="text"><a href="#" class="viewall">View All</a></div>
                        </div>
                      </div>
  
                   </div>
                </div>
  
              </div>
  
              <div class="item">
                
                <div class="col-sm-6 fl-left">
                    <div class="col-sm-4 fl-left">
                    <img src="../../../assets/images/ebook.jpg" alt="ebook" class="img-responsive pull-right">
                   </div>
  
                   <div class="col-sm-8 fl-left">
                      <h4 style="font-size:16px;font-weight: 500;">What Gandhi means to me : An Anthology</h4>
                      <p style="border: 0;padding: 0;min-height: auto;font-size:13px;">Mahatma Gandhi is one of the greatest global icons, whose thoughts and ideals give strength to millions. He emphasised on the power of truth and non-violence, which became a guiding torchlight for those individuals and societies fighting oppression, injustice and wrong.</p>
                      
                      <div class="outer">
                        <div class="button">
                         <div class="text"><a href="#" class="viewall">View All</a></div>
                        </div>
                      </div>
  
                   </div>
                </div>
  
                <div class="col-sm-6 fl-left">
                    <div class="col-sm-4 fl-left">
                    <img src="../../../assets/images/ebook.jpg" alt="ebook" class="img-responsive pull-right">
                   </div>
  
                   <div class="col-sm-8 fl-left">
                      <h4 style="font-size:16px;font-weight: 500;">What Gandhi means to me : An Anthology</h4>
                      <p style="border: 0;padding: 0;min-height: auto;font-size:13px;">Mahatma Gandhi is one of the greatest global icons, whose thoughts and ideals give strength to millions. He emphasised on the power of truth and non-violence, which became a guiding torchlight for those individuals and societies fighting oppression, injustice and wrong.</p>
                      
                      <div class="outer">
                        <div class="button">
                         <div class="text"><a href="#" class="viewall">View All</a></div>
                        </div>
                      </div>
  
                   </div>
                </div>
  
              </div>
            </div>
  
          </div>
           
        </div>
      </section>
  
  
    <section class="login-register" style="padding:20px 0;border-top: 2px solid #9ecd43;background-image:url('images/footer.png');background-repeat: no-repeat;background-size: cover;">
  
      <div class="container">
            
        <div id="myCarousel1" class="carousel slide" data-ride="carousel">
  
        <div class="carousel-inner">
          <div class="item active">
             <div class="col-sm-3 fl-left">
                   <img src="http://nicfs.gov.in/wp-content/uploads/2017/01/prime-minister-s-office.jpg" alt="AA" class="img-responsive">
              </div>
  
              <div class="col-sm-3 fl-left">
                   <img src="http://nicfs.gov.in/wp-content/uploads/2017/01/ministry-of-home-affairs.jpg" alt="AA" class="img-responsive">
              </div>
  
              <div class="col-sm-3 fl-left">
                   <img src="http://nicfs.gov.in/wp-content/uploads/2017/01/dopt.jpg" alt="AA" class="img-responsive">
              </div>
  
              <div class="col-sm-3 fl-left">
                   <img src="http://nicfs.gov.in/wp-content/uploads/2017/01/ggsiu.jpg" alt="AA" class="img-responsive">
              </div>
          </div>
  
          <div class="item">
            <div class="col-sm-3 fl-left">
                   <img src="http://nicfs.gov.in/wp-content/uploads/2017/01/my-gov.jpg" alt="AA" class="img-responsive">
              </div>
  
               <div class="col-sm-3 fl-left">
                   <img src="http://nicfs.gov.in/wp-content/uploads/2017/01/digital-india.jpg" alt="AA" class="img-responsive">
              </div>
  
               <div class="col-sm-3 fl-left">
                   <img src="http://nicfs.gov.in/wp-content/uploads/2017/01/national-portal-of-india.jpg" alt="AA" class="img-responsive">
              </div>
  
               <div class="col-sm-3 fl-left">
                   <img src="http://nicfs.gov.in/wp-content/uploads/2017/01/goi-web-directory.jpg" alt="AA" class="img-responsive">
              </div>
          </div>
  
        </div>
  
         <a class="left carousel-control" href="#myCarousel1" data-slide="prev"><i class="fa fa-angle-left" style="font-size:36px"></i></a>
  
        <a class="right carousel-control" href="#myCarousel1" data-slide="next"><i class="fa fa-angle-right" style="font-size:36px"></i> </a>
  
      </div>
  
      </div>
               
          </section>
  
          <footer class="wrapper footer-wrapper" style="padding:0;">
           <div class="footer-bottom">
  
               <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="region region-footer-first">
                   <div id="block-menu-menu-footer-menu" class="block block-menu">
  
                    
                <div class="content">
                    <ul class="menu clearfix">
                      <li class="first leaf"><a href="http://testmi.in/icm/aboutus.html">About us</a></li>
                      <li class="leaf"><a href="#">Publications</a></li>
                      <li class="leaf"><a href="#">Help</a></li>
                      <li class="leaf"><a href="#">Feedback</a></li>
                      <li class="last leaf"><a href="http://testmi.in/icm/gallery.html">Photo gallery</a></li>
                  </ul>  
                </div>
  
        </div>
  
    </div>
  
       </div>
    
    <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="region region-footer-second">
  <div id="block-menu-menu-footer-2" class="block block-menu">
  
      
    <div class="content">
      <ul class="menu clearfix">
        <li class="leaf"><a href="#">RTI</a></li>
        <li class="leaf"><a href="#">FAQs</a></li>
        <li class="leaf"><a href="#">Sitemap</a></li>
        <li class="leaf"><a href="#">Newspaper</a></li>
        <li class="leaf"><a href="http://testmi.in/icm/contactus.html">Contact Us</a></li>
        </ul>  
  
      </div>
    </div>
  
    </div>
  
      </div>
  
  
      <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="region region-footer-third">
  <div id="block-menu-menu-footer-3" class="block block-menu">
  
      
    <div class="content">
      <ul class="menu clearfix"><li class="first leaf"><a href="#">Important Websites</a></li>
      <li class="leaf"><a href="#">Disclaimer</a></li>
      <li class="leaf"><a href="#">Copyright Policy</a></li>
      <li class="leaf"><a href="#">Hyperlinking Policy</a></li>
      <li class="leaf"><a href="#">Terms &amp; Conditions</a></li>
      <li class="leaf"><a href="#">Privacy Policy</a></li>
      </ul>  
  
  </div>
  </div>
  
    </div>
  </div>
  
  </div> 
  
         <div class="col-xs-12 col-md-12 col-sm-12 nopadding">
            <div class="region region-copy-right-policy">
              <div id="block-block-21" class="block block-block">
                <div class="content">
                    
                      <div class="col-xs-12 col-md-12 col-sm-12 nopadding copyright">
                          <p>Copyright © Content Owned by Ministry of External Affairs, Government of India.</p>
                      </div>
                  </div>
              </div>
            </div>
         </div>
  
     </footer>
  
     <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
  
   </div>
  
  
   <!--------------------------------------------------------->
  
  
   <div id="eventModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center">Register Now</h4>
        </div>
        <div class="modal-body">
         
         <form action="#"  method="post">
            <div class="content">
                <div class="form-content">
                    <div class="form-group">
                        <label class="control-label">Name:</label>
                        <div class="form_position">
                          <input placeholder="Name" type="text" class="form-control" name="name" autocomplete="off">
                        </div>
                      </div>
                   </div>
  
                   <div class="form-content">
                    <div class="form-group">
                        <label class="control-label">Email:</label>
                        <div class="form_position">
                          <input placeholder="Email" type="email" class="form-control" name="email" autocomplete="off">
                        </div>
                      </div>
                   </div>
  
  
                   <div class="form-content">
                    <div class="form-group">
                        <label class="control-label">Mobile No:</label>
                        <div class="form_position">
                          <input placeholder="Mobile No" type="text" class="form-control" name="mobile" autocomplete="off">
                        </div>
                      </div>
                   </div>
                 
                <input type="submit" name="submit" class="btn btn-primary btn-md custom-btn" value="Register">
  
                </div>
             
            </form>
  
        </div>
      </div>
  
    </div>
  </div>
  
      