<section  class="about">
        <div class="container">

        	<h3>Photo Gallery</h3>
        	
	        <div class="col-sm-12 gallery">
	        	<div class="col-sm-3 fl-left">
	               <img src="../../../../assets/images/1.jpg" alt="gallery" class="img-responsive">
	            </div>
	            <div class="col-sm-9 fl-left">
	              <a href="http://testmi.in/icm/gallerydetail.html">Visit of Minister of Foreign Affairs of the Republic of Estonia to India (January 15-17, 2020)</a>
	              <p>January 15, 2020</p>
	              <a href="http://testmi.in/icm/gallerydetail.html" class="btn btn-primary btn-md" target="_blank">View All Photos</a>
	            </div>
	        </div>


	        <div class="col-sm-12 gallery">
	        	<div class="col-sm-3 fl-left">
	               <img src="../../../../assets/images/1.jpg" alt="gallery" class="img-responsive">
	            </div>
	            <div class="col-sm-9 fl-left">
	              <a href="http://testmi.in/icm/gallerydetail.html">Visit of Minister of Foreign Affairs of the Republic of Estonia to India (January 15-17, 2020)</a>
	              <p>January 15, 2020</p>
	              <a href="http://testmi.in/icm/gallerydetail.html" class="btn btn-primary btn-md" target="_blank">View All Photos</a>
	            </div>
	        </div>


	        <div class="col-sm-12 gallery">
	        	<div class="col-sm-3 fl-left">
	               <img src="../../../../assets/images/1.jpg" alt="gallery" class="img-responsive">
	            </div>
	            <div class="col-sm-9 fl-left">
	              <a href="http://testmi.in/icm/gallerydetail.html">Visit of Minister of Foreign Affairs of the Republic of Estonia to India (January 15-17, 2020)</a>
	              <p>January 15, 2020</p>
	              <a href="http://testmi.in/icm/gallerydetail.html" class="btn btn-primary btn-md" target="_blank">View All Photos</a>
	            </div>
	        </div>

	        <div class="col-sm-12 gallery">
	        	<div class="col-sm-3 fl-left">
	               <img src="../../../../assets/images/1.jpg" alt="gallery" class="img-responsive">
	            </div>
	            <div class="col-sm-9 fl-left">
	              <a href="http://testmi.in/icm/gallerydetail.html">Visit of Minister of Foreign Affairs of the Republic of Estonia to India (January 15-17, 2020)</a>
	              <p>January 15, 2020</p>
	              <a href="http://testmi.in/icm/gallerydetail.html" class="btn btn-primary btn-md" target="_blank">View All Photos</a>
	            </div>
	        </div>

	        <div class="col-sm-12 gallery">
	        	<div class="col-sm-3 fl-left">
	               <img src="../../../../assets/images/1.jpg" alt="gallery" class="img-responsive">
	            </div>
	            <div class="col-sm-9 fl-left">
	              <a href="http://testmi.in/icm/gallerydetail.html">Visit of Minister of Foreign Affairs of the Republic of Estonia to India (January 15-17, 2020)</a>
	              <p>January 15, 2020</p>
	              <a href="http://testmi.in/icm/gallerydetail.html" class="btn btn-primary btn-md" target="_blank">View All Photos</a>
	            </div>
	        </div>

        </div>
      </section>