
 <section  class="about">
<div class="container">
    <h3>Archive</h3>
    
  <ul class="bulletText fiftyFifty" style="margin-left: 50px;font-size:20px;margin-top: 64px;font-family: initial;">
    <li><a href="http://testmi.in/icm/Financials.html">Financials</a>  </li>
     <li><a href="#Magazine.html">PB Magazine</a></li>
    <li><a href="#rfd.html">Result Framework Document (RFD)</a></li>
   <li style="margin-left: 434px; margin-top: -89px;position: absolute;"><a href="#Publications.html">Publications</a></li>
    <li  style="margin-left: 434px; margin-top:-57px;position: absolute;"><a href="#Conference.html">Conference Proceedings</a></li>
    <li  style="margin-left: 434px; margin-top: -28px;position: absolute;"><a href="#Seminars.html">Seminars / Conferences</a></li>
    </ul>
    
</div>

 </section>