<section  class="about">
        <div class="container">

            <h3>All Photos</h3>

            <h4>Visit of Minister of Foreign Affairs of the Republic of Estonia to India (January 15-17, 2020)</h4>
             
          <div class='ms-gallery-group'>   

            <ul id="ms-gallery" class="galleryrow">
                <li>
                  <img src="../../../../assets/images/1.jpg" alt="gallery" class="img-responsive" title="Image 1">
                </li>

                <li>
                  <img src="../../../../assets/images/1.jpg" alt="gallery" class="img-responsive" title="Image 2">
                </li>

                <li>
                  <img src="../../../../assets/images/1.jpg" alt="gallery" class="img-responsive" title="Image 3">
                </li>

                <li>
                  <img src="../../../../assets/images/1.jpg" alt="gallery" class="img-responsive" title="Image 4">
                </li>

                <li>
                  <img src="../../../../assets/images/1.jpg" alt="gallery" class="img-responsive" title="Image 5">
                </li>

                <li>
                  <img src="../../../../assets/images/1.jpg" alt="gallery" class="img-responsive" title="Image 6">
                </li>


                <li>
                  <img src="../../../../assets/images/1.jpg" alt="gallery" class="img-responsive" title="Image 7">
                </li>

                <li>
                  <img src="../../../../assets/images/1.jpg" alt="gallery" class="img-responsive" title="Image 8">
                </li>
               
            </ul>

          </div>

        </div>
      </section>