<div class="container">
        <h3>RTI COMPLAIN</h3></div>
       <div id="innerContent">
        
         <h3 style=" padding-bottom:0;margin-top: 37px;font-size: 2em;">Contact Details</h3>	
          <h4 style="font-weight: 550;">"1. For all Divisions excluding Consular, Passport & Visa
          RTI Applications should be addressed to : RTI Cell
  </h4>
      <p>"Ministry of External Affairs"
    <br>	
       Address : Room No. 2021, ‘A’ Wing, Jawaharlal Nehru Bhawan, 23-D, Janpath, New Delhi - 110
    <br>
       <span style="font-weight:bold">Tel: </span>
        +91-11-49015227+91-11-49015227+91-11-4901522791-11-49015227 ,91-11-4901522491-11-49015224
    <br>
       <span style="font-weight:bold">Fax:</span>
        +91-11-49015232+91-11-49015232+91-11-4901523291-11-49015232 ,+91-11-49015225+91-11-490152
    <br>
      <span style="font-weight:bold">E-mail :</span>
         <a href="mailto:sorti@mea.icm.in">sorti@mea.icm.in</a>
         <a href="mailto:jsrti@mea.icm.in">jsrti@mea.icm.in</a>
    <br>
         <span style="font-weight:bold">Website : </span>
         <a href="http://mea.icm.in">mea.icm.in</a>
       </p>
        <h4 style="font-weight: 550;">2.Submission of Application Under RTI Act</h4>
        	
       <p>Applications for Information under RTI Act, 2005 from Ministry of External Affairs may be addressed
          to Under Secretary (RTI), RTI Cell Ministry
           of External Affairs at the above mentioned address, clearly specifying the information required from the records
            of Ministry of External Affairs. The fee of Rs.10/-(Rupees Ten only) in respect of such application
              is to be made by way of Indian Postal Order/Bank Draft/Banker's Cheque payable to "PAO, MEA, New Delhi.</p>
       <p>Indian citizens seeking information held by Indian Embassies/High 
         Commissions/Consulates should file RTI applications directly to the concerned Embassy/High 
          Commission/Consulate by Dak/E-mail and pay RTI fee using e-IPO facility</p>
      </div> 
       