.about{
    padding: 25px 0;
    width: 100%;
    float: left;
 }    

.about h3{
    font-size: 20px;
 font-weight: 600;
 text-align: center;
 border-bottom: 2px solid #ccc;
 position: relative;
 padding-bottom: 10px;
 margin-bottom: 25px;
width: 25%;
margin: 0 auto 25px;
}	

.about h3:after{
    content: '';
 position: absolute;
 left: 0;
 bottom: -4px;
 width: 25%;
 background: #9ecd43;
 height: 6px;
 right: 0;
 margin: 0 auto;
}		

.teammember-item {
    padding:15px;
 }
 
 
 .teammember-item .teammember-content {
     position: relative;
     cursor: pointer;
     overflow: hidden;
     -webkit-transition: all .35s ease;
     -o-transition: all .35s ease;
     transition: all .35s ease;
     border:1px solid #ddd;
 }
 
 
  .teammember-item .teammember-content .teammember-image {
     position: relative;
     -webkit-transition: all .5s ease;
     -o-transition: all .5s ease;
     transition: all .5s ease;
     padding-bottom: 85px;
 }
 
 .teammember-item .teammember-content .teammember-image img {
     width: 100%;
     min-height: 276px;
     max-height: 276px;
 }
 
 
 
 .teammember-item .teammember-content .teammember-meta {
     position: absolute;
     text-align: center;
     width: 100%;
     bottom: -50px;
     padding: 20px 0;
     background-color: #fff;
     -webkit-transition: all .35s ease;
     -o-transition: all .35s ease;
     transition: all .35s ease;
 }
 
 
 .teammember-item .teammember-content .teammember-meta .teammember-title {
     font-size: 15px;
     font-weight: 700;
     margin-bottom: 0;
     -webkit-transition: all .35s ease;
     -o-transition: all .35s ease;
     transition: all .35s ease;
 }
 
 .teammember-item .teammember-content .teammember-meta .teammember-position {
     color: rgba(34,34,34,.7);
 }
 
 .teammember-item .teammember-content .teammember-meta .teammember-position {
     font-size: 14px;
     margin-bottom: 15px;
     color: rgba(34,34,34,.7);
 }
 
 .teammember-item .teammember-content .teammember-meta .teammember-social-profile {
     margin-top: 5px;
     margin-bottom: 0;
     padding: 0;
     -webkit-transition: all .35s ease;
     -o-transition: all .35s ease;
     transition: all .35s ease;
 }
 
 .teammember-item .teammember-content .teammember-meta .teammember-social-profile li {
     font-size: 16px;
     display: inline-block;
     margin: 0 5px;
 }
 
 .teammember-item .teammember-content .teammember-meta .teammember-social-profile li a {
     background-color: #f0f0f0;
 }
 
 .teammember-item .teammember-content .teammember-meta .teammember-social-profile li a {
     display: inline-block;
     height: 30px;
     width: 30px;
     line-height: 30px;
     border-radius: 100%;
     background-color: #f0f0f0;
     -webkit-transition: all .35s ease;
     -o-transition: all .35s ease;
     transition: all .35s ease;
 }
 
 .teammember-item .teammember-content:hover {
     -webkit-box-shadow: 0 0 20px 3px rgba(0,0,0,.15);
     -moz-box-shadow: 0 0 20px 3px rgba(0,0,0,.15);
     box-shadow: 0 0 20px 3px rgba(0,0,0,.15);
 }
 
 
 .teammember-item .teammember-content:hover .teammember-meta {
     bottom: 0;
 } 
 
 .teammember-item .teammember-content .teammember-image img {
    width: 100%;
    min-height: 276px;
    max-height: 276px;
}

.img-responsive, .thumbnail > img, .thumbnail a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul.team {
   
    list-style: none;
   
}
ul.team {
    padding: 0;
    list-style: none;
    width: 100%;
    display: block;
    float: left;
}