
<section  class="about">
        <div class="container">

          <h3>Our Team</h3>

          <ul class="team">

            <li class="teammember-item col-sm-3 fl-left"></li>

            <li class="teammember-item col-sm-3 fl-left">
              <div class="teammember-content">
                <div class="teammember-image">
                 <img  src="../../../../assets/images/jaishankar.jpg" class="img-responsive" alt="" style="padding-top:10px;">
               </div>
               <div class="teammember-meta">
                <div class="teammember-meta-inner">
                  <div class="teammember-title">Dr. Subrahmanyam Jaishankar</div>
                  <p class="teammember-position">External Affairs Minister</p>
                  <ul class="teammember-social-profile">
                    <li> <a href="#"> <i class="fa fa-facebook"></i> </a></li>
                    <li> <a href="#"> <i class="fa fa-twitter"></i> </a></li>
                  </ul>
                  </div>
                </div>
              </div>
            </li>


            <li class="teammember-item col-sm-3 fl-left">
              <div class="teammember-content">
                <div class="teammember-image">
                 <img  src="../../../../assets/images/VMuraleedharan1.jpg" class="img-responsive" alt="">
               </div>
               <div class="teammember-meta">
                <div class="teammember-meta-inner">
                  <div class="teammember-title">V. Muraleedharan</div>
                  <p class="teammember-position">Minister of State for External Affairs</p>
                  <ul class="teammember-social-profile">
                    <li> <a href="#"> <i class="fa fa-facebook"></i> </a></li>
                    <li> <a href="#"> <i class="fa fa-twitter"></i> </a></li>
                  </ul>
                  </div>
                </div>
              </div>
            </li>

            <li class="teammember-item col-sm-3 fl-left"></li>

          </ul>


           <ul class="team">

            <li class="teammember-item col-sm-3 fl-left">
              <div class="teammember-content">
                <div class="teammember-image">
                 <img  src="../../../../assets/images/Vijay_Gokhale_Small.jpg" class="img-responsive" alt="">
               </div>
               <div class="teammember-meta">
                <div class="teammember-meta-inner">
                  <div class="teammember-title">Shri Vijay Gokhale</div>
                  <p class="teammember-position">Foreign Secretary</p>
                  <ul class="teammember-social-profile">
                    <li> <a href="#"> <i class="fa fa-facebook"></i> </a></li>
                    <li> <a href="#"> <i class="fa fa-twitter"></i> </a></li>
                  </ul>
                  </div>
                </div>
              </div>
            </li>


            <li class="teammember-item col-sm-3 fl-left">
              <div class="teammember-content">
                <div class="teammember-image">
                 <img  src="../../../../assets/images/Vijay_Thakur_Singh_photo.jpg" class="img-responsive" alt="">
               </div>
               <div class="teammember-meta">
                <div class="teammember-meta-inner">
                  <div class="teammember-title">Ms. Vijay Thakur Singh</div>
                  <p class="teammember-position">Secretary (East)</p>
                  <ul class="teammember-social-profile">
                    <li> <a href="#"> <i class="fa fa-facebook"></i> </a></li>
                    <li> <a href="#"> <i class="fa fa-twitter"></i> </a></li>
                  </ul>
                  </div>
                </div>
              </div>
            </li>


            <li class="teammember-item col-sm-3 fl-left">
              <div class="teammember-content">
                <div class="teammember-image">
                 <img  src="../../../../assets/images/t_murthi.jpg" class="img-responsive" alt="">
               </div>
               <div class="teammember-meta">
                <div class="teammember-meta-inner">
                  <div class="teammember-title">Shri T.S.Tirumurti</div>
                  <p class="teammember-position">Secretary (ER)</p>
                  <ul class="teammember-social-profile">
                    <li> <a href="#"> <i class="fa fa-facebook"></i> </a></li>
                    <li> <a href="#"> <i class="fa fa-twitter"></i> </a></li>
                  </ul>
                  </div>
                </div>
              </div>
            </li>


            <li class="teammember-item col-sm-3 fl-left">
              <div class="teammember-content">
                <div class="teammember-image">
                 <img  src="../../../../assets/images/team4.png" class="img-responsive" alt="">
               </div>
               <div class="teammember-meta">
                <div class="teammember-meta-inner">
                  <div class="teammember-title">Shri Vikas Swarup</div>
                  <p class="teammember-position">Secretary (West)</p>
                  <ul class="teammember-social-profile">
                    <li> <a href="#"> <i class="fa fa-facebook"></i> </a></li>
                    <li> <a href="#"> <i class="fa fa-twitter"></i> </a></li>
                  </ul>
                  </div>
                </div>
              </div>
            </li>


          </ul>

        </div>
      </section>
