<div class="container">
        <h3>Research</h3>

    <p style="text-align: justify;">
    
     Providing necessary advisory and protection has been central to India’s approach to migration to make the 
      process safe, legal and humane. India has put in place "
  "and various welfare programs for migrants all through the migration cycle. Enhancing skills of potential
  migrants is now a priority. Recognition of prior learning, training of potential workers based on international
  vocational qualifications and providing certificates that are internationally accepted have gained traction with 
  the advent of the current Government and significant resources are being allocated to upskill India’s youth."
  
  
     In recent years, the Ministry of External Affairs (MEA) has collaborated with the Ministry of Skill Development
   & Entrepreneurship (MSDE) to implement a skill development program, ‘Pravasi Kaushal Vikas Yojana’,
   which aims to enhance the skill sets of potential migrant workers and facilitate overseas employment
   opportunities. In the initial stages, the scheme will focus on select sectors and job roles
   (for example, construction workers, drivers, domestic workers) that are in demand in the 18 ECR countries
   before expanding to others."
  <br>
  <br>
     The skills development programs will be administered at India International Skills Centres 
   (IISCs) and it is expected that the certificates provided upon completion are internationally
   recognized, enabling potential migrants to benefit from overseas jobs in addition to pushing
   Indian workers up in the wage-value chain. The skills enhancement program will be complemented
   by compulsory Pre-Departure Orientation (PDO), which prepare migrants for the journey."
  <br>
  <br>
   The PDO, India’s first-ever such program, has 10 modules covering basic tenets of international
 migration including the costs and benefits associated with migration and how prospective migrants
 could prepare for journey abroad. A detailed account on the process of recruitment by foreign
 employers&nbsp; and registered recruiting agents through the electronic platform eMigrate is provided.
 Issues such as entry formalities, labor laws in host countries, socio-cultural and religious aspects,
 and language are covered. Templates of workers’ contracts are provided for better understanding of 
 the terms, working conditions and other facilities to be provided by the foreign employers. Finally,
 the PDO also outlines various welfare schemes of the Government, helplines, role of Indian Missions/Posts 
 in addressing grievances of workers, regulations on women migrant workers, and the importance of 
 remittances and savings."
  <br>
  <br>
    The PDO Manual was designed by India Centre for Migration (ICM), the research think tank of Ministry 
  of External Affairs (MEA) in collaboration with the International Organization for Migration (IOM).
  It focuses on the six GCC countries (Bahrain, Kuwait, Oman, Qatar, Saudi Arabia and the UAE) and 
  Malaysia, where Indian workers are present on a large scale. The GCCalone is home to almost 8 million 
  Indians, most of whom are low or semi-skilled labor migrants who contribute just over 40 percent of 
  remittances sent to India. Based on the PDO Manual, the first set of 25 Master Trainers from IISCs 
  received training on PDO from 27-31 March 2017 with the training provided by Overseas Indian Affairs 
  (OIA) Division of MEA.
  Providing necessary advisory and protection has been central to India’s approach to migration to make the 
      process safe, legal and humane. India has put in place "
  "and various welfare programs for migrants all through the migration cycle. Enhancing skills of potential
  migrants is now a priority. Recognition of prior learning, training of potential workers based on international
  vocational qualifications and providing certificates that are internationally accepted have gained traction with 
  the advent of the current Government and significant resources are being allocated to upskill India’s youth."
     The skills development programs will be administered at India International Skills Centres 
   (IISCs) and it is expected that the certificates provided upon completion are internationally
   recognized, enabling potential migrants to benefit from overseas jobs in addition to pushing
   Indian workers up in the wage-value chain. The skills enhancement program will be complemented
   by compulsory Pre-Departure Orientation (PDO), which prepare migrants for the journey."
  
</p>

  </div>