<section  class="about">
        <div class="container">

          <h3>Previous High Commisioners</h3>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Designation</th>
                <th>Office</th>
                <th>Phone</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
               <tr>
                 <td>
                  <img src="../../../../assets/images/user.jpg" class="img-responsive">
                 </td>
                 <td>Name</td>
                 <td>Designation</td>
                 <td>Office</td>
                 <td>9876543212</td>
                 <td>testchairman@gmail.com</td>
               </tr>

               <tr>
                 <td>
                  <img src="../../../../assets/images/user.jpg" class="img-responsive"> </td>
                 <td>Chairman Name</td>
                 <td>Chairman</td>
                 <td>Chairman Office</td>
                 <td>9876543212</td>
                 <td>testchairman@gmail.com</td>
               </tr>

               <tr>
                 <td>
                  <img src="../../../../assets/images/user.jpg" class="img-responsive">
                 </td>
                 <td>Chairman Name</td>
                 <td>Chairman</td>
                 <td>Chairman Office</td>
                 <td>9876543212</td>
                 <td>testchairman@gmail.com</td>
               </tr>


               <tr>
                 <td>
                  <img src="../../../../assets/images/user.jpg" class="img-responsive">
                 </td>
                 <td>Chairman Name</td>
                 <td>Chairman</td>
                 <td>Chairman Office</td>
                 <td>9876543212</td>
                 <td>testchairman@gmail.com</td>
               </tr>


               <tr>
                 <td>
                  <img src="../../../../assets/images/user.jpg" class="img-responsive">
                 </td>
                 <td>Chairman Name</td>
                 <td>Chairman</td>
                 <td>Chairman Office</td>
                 <td>9876543212</td>
                 <td>testchairman@gmail.com</td>
               </tr>
            </tbody>
          </table>

          </div>
      </section>