<section  class="about">
    <div class="container">

         <h3>Video Gallery</h3>
        
             <div class="col-sm-4 fl-left">
               <div class="embed-responsive embed-responsive-16by9" style="box-shadow: 0 0 15px #cccccc;margin-bottom:30px;">
              <iframe  src="url" allowfullscreen></iframe>
            </div>
           </div>

         <div class="col-sm-4 fl-left">
             <div class="embed-responsive embed-responsive-16by9" style="box-shadow: 0 0 15px #cccccc;margin-bottom:30px;">
              <iframe  src="https://www.youtube.com/embed/DTA3jlTWSWQ" allowfullscreen></iframe>
            </div>
         </div>
 
           <div class="col-sm-4 fl-left">
             <div class="embed-responsive embed-responsive-16by9" style="box-shadow: 0 0 15px #cccccc;margin-bottom:30px;">
              <iframe  src="https://www.youtube.com/embed/DTA3jlTWSWQ" allowfullscreen></iframe>
            </div>
         </div>

         <div class="col-sm-4 fl-left">
             <div class="embed-responsive embed-responsive-16by9" style="box-shadow: 0 0 15px #cccccc;margin-bottom:30px;">
              <iframe  src="https://www.youtube.com/embed/DTA3jlTWSWQ" allowfullscreen></iframe>
            </div>
         </div>

    </div>
  </section>