<section  class="about">
        <div class="container">

          <h3>Indian Foreign Service</h3>

            <h4>A Backgrounder</h4>

            <p>The origin of the Indian Foreign Service can be traced back to the British rule when the Foreign Department was created to conduct business with the "Foreign European Powers”. In fact it was on September 13, 1783, when the Board of Directors of the East
             India Company passed a resolution at Fort William, Calcutta (now Kolkata), to create a department, which could help "relieve the pressure” on the Warren Hastings administration in conducting its "secret and political business”. Subsequently known as the "Indian
             Foreign Department”, it went ahead with the expansion of diplomatic representation, wherever necessary, to protect British interests.</p>

            <p>In 1843, Governor-General Ellenborough carried out administrative reforms under which the Secretariat of the Government was organized under four departments – Foreign, Home, Finance and Military. Each was headed by a Secretary level officer. The foreign
             department Secretary was entrusted with the "conduct of all correspondence belonging to the external and internal diplomatic relations of the government”.</p>

            <p>From the very beginning, a distinction was maintained between the "foreign” and "political” functions of the Foreign Department; relations with all "Asiatic powers” (including native princely states of India during the British Raj) were treated as "political”
             and with all European powers as "foreign”.</p>

            <p>Although the Government of India Act, 1935 sought to delineate more clearly functions of the "Foreign” and "Political” wings of the Foreign Department, it was soon realized that it was administratively imperative to completely bifurcate the Foreign department.
             Consequently, the External Affairs Department was set up separately under the direct charge of the Governor-General.</p>

            <p>The idea of establishing a separate diplomatic service to handle the external activities of the Government of India originated from a note dated September 30, 1944, recorded by Lt-Gen T. J. Hutton, Secretary, Planning and Development Department of the Government.
             When this note was referred to the Department of External Affairs for comments, Mr Olaf Caroe, the Foreign Secretary, recorded his comments in an exhaustive note detailing the scope, composition and functions of the proposed service. Mr Caroe pointed out that
             as India emerged to a position of autonomy and national consciousness, it was imperative to build up a system of representation abroad that would be in complete harmony with the objectives of the future government.</p>

            <p>In September 1946, on the eve of India’s independence, the Government of India decided to create a service called the Indian Foreign Service for India’s diplomatic, consular and commercial representation overseas.</p>

            <p>In 1947, there was a near seamless transformation of the Foreign and Political department of the British India government into what then became the new Ministry of External Affairs and Commonwealth Relations and in 1948 the first batch recruited under the
             combined Civil service examination system of the Union Public Service Commission joined the service. This system of entry has remained the staple mode of intake into the IFS to this day.</p>

            <h4>Training </h4>
            <p>On selection to the Indian Foreign Service through the combined Civil Services examination, the new entrants undergo a multi-faceted and comprehensive training programme intended to give them a thorough grounding in diplomatic knowledge, diplomatic qualities
             and diplomatic skills. The probationers commence their training, together with their colleagues from the other All India Services, at the Lal Bahadur Shastri National Academy of Administration, Mussourie. Thereafter the probationers join the Foreign Service
             Institute in New Delhi and undergo focused training in the various disciplines that a career diplomat needs to familiarise himself with. The Foreign Service Institute course involves lectures, attachments with various wings of the Government as well as familiarisation
             tours both within the country and abroad. The aim of this course is to inculcate in the diplomatic recruit a strong sense of history, knowledge of diplomacy and international relations and a grasp of general economic and political principles.</p>

            <p>At the conclusion of the training programme the officer is assigned his/her compulsory foreign language (CFL). After a brief period of desk attachment in the Ministry of External Affairs the officer is posted to an Indian Mission abroad in a country where
             his CFL is the native language and enrolled in a language course. The officer is expected to develop proficiency in his CFL and pass the requisite examination before he is confirmed in service.</p>

            <h4>Career</h4>
            <p>A Foreign Service Officer begins his career abroad as a Third Secretary and is promoted to Second Secretary as soon as he is confirmed in service. Subsequent promotions are to the levels of First Secretary, Counsellor, Minister and Ambassador/High Commissioner/Permanent
             Representative. Officers can also be posted to Indian Consulates abroad where the hierarchy (going upwards) is Vice-Consul, Consul and Consul General.</p>

            <p>The hierarchy at the Ministry of External Affairs includes 6 stages: Under Secretary, Deputy Secretary, Director, Joint Secretary, Additional Secretary and Secretary.</p>

            <h4>Functions</h4>
          <p>As a career diplomat, the Foreign Service Officer is required to project India’s interests, both at home and abroad on a wide variety of issues. These include bilateral political and economic cooperation, trade and investment promotion, cultural interaction, press and media liaison as well as a whole host of multilateral issues.</p>

            <p>The functions of an Indian diplomat may be summarized as:</p>
            <ul class="bulletText">
            <li>Representing India in its Embassies, High Commissions, Consulates, and Permanent Missions to multilateral organisations like UN;</li>
            <li>Protecting India’s national interests in the country of his/her posting; </li>
            <li>Promoting friendly relations with the receiving state as also its people, including NRI / PIOs;</li>
            <li>Reporting accurately on developments in the country of posting which are likely to influence the formulation of India’s policies;</li>
            <li>Negotiating agreements on various issues with the authorities of the receiving state; and</li>
            <li>Extending consular facilities to foreigners and Indian nationals abroad. </li>
          </ul>
            <p>At home, Ministry of External Affairs is responsible for all aspects of external relations. Territorial divisions deal with bilateral political and economic work while functional divisions look after policy planning, multilateral organizations, regional
             groupings, legal matters, disarmament, protocol, consular, Indian Diaspora, press and publicity, administration and other aspects.</p>
            <h4>Strength</h4>
            <p>In recent years, the intake into the Indian Foreign Service has averaged between 30-35 persons annually. The present cadre strength of the service stands at approximately 850 officers manning around 193 Indian missions and posts abroad and the various posts
             in the Ministry at home.</p>
            <p>Visit the Foreign Service Institute Website at <a href="http://meafsi.gov.in" target="_blank">
            meafsi.gov.in</a></p>


          </div>
      </section>