
<div class="container">
		
		
        <h3>RTI ACT</h3></div>
       <div id="innerContent">
        <h2>Right to Information</h2>
         <h3 style=" padding-bottom:0;margin-top: 37px;font-size: 2em;">Contact Details</h3>	
          <h4 style="font-weight: 550;">"1. For all Divisions excluding Consular, Passport & Visa, RTI Applications should be addressed to:RTI Cell
  </h4>
      <p>"Ministry of External Affairs"
    <br>	
       Address : Room No. 2021, ‘A’ Wing, Jawaharlal Nehru Bhawan, 23-D, Janpath, New Delhi - 110 011.
    <br>
       <span style="font-weight:bold">Tel:</span>
        +91-11-49015227+91-11-49015227+91-11-4901522791-11-49015227 ,91-11-4901522491-11-49015224"
    <br>
       <span style="font-weight:bold">Fax:</span>
        +91-11-49015232+91-11-49015232+91-11-4901523291-11-49015232 ,+91-11-49015225+91-11-49015225+91-11-"
    <br>
      <span style="font-weight:bold">E-mail :</span>
         <a href="mailto:sorti@mea.icm.in">sorti@mea.icm.in</a>
         <a href="mailto:jsrti@mea.icm.in">jsrti@mea.icm.in</a>
    <br>
         <span style="font-weight:bold">Website : </span>
         <a href="http://mea.icm.in">mea.gov.in</a>
       </p>
 <h4 style="font-weight: 550;">2.Submission of Application Under RTI Act</h4>
        <!-- </p>	 -->
       <p>Applications for Information under RTI Act, 2005 from Ministry of External Affairs may be addressed
          to Under Secretary (RTI), RTI Cell,Ministry
           of External Affairs at the above mentioned address, clearly specifying the information required from the records
            of Ministry of External Affairs. The fee of Rs.10/- (Rupees Ten only) in respect of such application
              is to be made by way of Indian Postal Order/Bank Draft/Banker's Cheque payable to "PAO, MEA, New Delhi.</p>
       <p>Indian citizens seeking information held by Indian Embassies/High 
         Commissions/Consulates should file RTI applications directly to the concerned Embassy/High 
          Commission/Consulate by Dak/E-mail and pay RTI fee using e-IPO facility"…</p>
        
        <h4 style="font-weight: 550;">3.For Consular Passport & Visa Division.</h4>
     <p>   Tel: 23386323, 23388015 (O) 
   <br>  Name, Designation and Contact of the Central Public Information Officer:
   <br>	
           T Ajungla Jamir"
   <br>	
          Director (CPV)"
   <br>
       
       <span style="font-weight:bold">Fax:</span>
        23782821"
   <br>
      Room No 3, Patiala House Annexe, 
   <br>
     CPV Division, Ministry of External Affairs, 
    <br>
     Tilak Marg New Delhi-110001"
      <span style="font-weight:bold">
      <br>E-Mail:</span>
        <a href="mailto:moptra@mea.icm.in"> dircpv@mea.icm.in</a>
   </p>	
   <p>
       Name, Designation and Contact of the First Appellate Authority:
  <br>
  
       Dr. Adarsh Swaika"
  <br>	
  Joint Secretary (CPV)"
  <br>
   <span style="font-weight:bold">Tel:</span>
     011-23387104"
  <br>
   <span style="font-weight:bold">Fax:</span>
    011-23782821"
  <br>
   Room No. 20, Patiala House Annexe,
  <br>
  CPV Division, Ministry of External Affairs,
  <br>
  Tilak Marg, New Delhi-110001"
  <br>
  <span style="font-weight:bold">E-Mail: </span>
  <a href="mailto:moptra@mea.icm.in">jscpv@mea.icm.in</a>
  </p>
  <p>
  <span style="font-weight:bold"></span>
  </p>
  <p>
  Name, Designation and Contact of the Central Public Information Officer
  <br>	
 Shri S Ramji
  <br>
 Under Secretary (PV-I) and CPIO)
  <br>
  <span style="font-weight:bold">Tel:</span>
  23070364 "
  <br>
  <span style="font-weight:bold">Fax:</span>
   23071370 "
  <br>	
  Room No. 29, Patiala House Annexe, 
  <br>	
  Passport and Seva Project (PSP) Division, 
  <br>	
  Tilak Marg New Delhi-110001
  <br>
  <span style="font-weight:bold">E-Mail:</span>
  <a href="mailto:moptra@mea.icm.in"> uspsp1@mea.icm.in</a>	
  </p>
  <p>
  <span style="font-weight:bold"></span>
  </p>
  <p>
  Name, Designation and Contact of the First Appellate Authority:	
  <br>	
  Shri S Ramji
  <br>	
  Under Secretary (PV-I) and CPIO)
  <br>
  <span style="font-weight:bold">Tel:</span>
   23070364 "
  <br>
  <span style="font-weight:bold">Fax:</span>
   23071370 "
  <br>	
  Room No. 29, Patiala House Annexe,
  <br>
  Passport and Seva Project (PSP) Division, 
  <br>
  Tilak Marg New Delhi-110001"
  <br>
  <span style="font-weight:bold">E-Mail:</span>
  <a href="mailto:moptra@mea.icm.in"> uspsp1@mea.icm.in</a>	
  </p>
  <p>
  <span style="font-weight:bold"></span>
  	
  </p>
  <ul class="bulletText" style="font-size: 23px;margin-left: -18px;">	
  <li>
  <a href="">Monthly RTI Figures</a>
  </li>	
  <li>
  <a href="">RTI Applications and Replies</a>
  </li>	
  <li>
  <a href="">Right to Information Manual</a>
  </li>	
  <li>
  <a href="">RTI Annual Return Information System</a>	
  </li>	
  </ul>
  </div>