<div class="container">	
    <h3>Announcement</h3>

 <ul class="commonListing">
<li>
    <a href="announcementopen.html"> India’s Climate Change Policy: Towards a Better Future</a>
  <br>
  <p>November 08, 2019 </p>
</li> 


<li>
   <a href="announcementopen.html">
   Moon Shot is just the beginning, India harnesses space technology for the benefit of all  
</a>
<br>
   <p>November 08, 2019 </p>   

</li>


<li>
   <a href="announcementopen.html">
   Aspects of Indian Heritage</a>
<br>
   <p>November 08, 2019 </p>  
</li>


<li>
    <a href="announcementopen.html">
    India’s concept of Indo-Pacific is inclusive and across oceans</a>
<br>
    <p>November 08, 2019 </p>
</li>

<li>
    <a href="announcementopen.html">
    UN Peacekeeping: India’s Contributions</a>
<br>
    <p>November 08, 2019 </p>
</li>


<li>
   <a href="announcementopen.html">
   Some conceptual underpinnings of Indian Foreign Policy Today</a>
<br>
   <p>November 08, 2019 </p>

</li>

<li>
    <a href="announcementopen.html">
    India’s next Big Dream! Send an Indian into Space on Indian Technology</a>
<br>
    <p>November 08, 2019 </p>

</li>

<li>

    <a href="announcementopen.html">
    India's Opportunity in a Multiconceptual World</a>
 <br>
    <p>January 10, 2018 </p>
 
</li>   

</ul>

</div>