<section  class="about">
    <div class="container">

      <div class="col-sm-8 fl-left">

          <h3>About India Centre for Migration (ICM)</h3>
        <p>In a rapidly globalizing world characterized by mobility of people across borders, there is a need to bring a strategic dimension to the process of emigration of Indians in search of employment. Therefore, The Ministry set up India Centre for Migration (ICM- formerly known as Indian Council of Overseas Employment) as a ‘not for profit’ society under the Societies Registration Act 1860, in July, 2008. The Centre serves as a research think-tank to the Ministry of External Affairs, Govt. of India, on all matters relating to ‘International Migration’. The Centre undertakes empirical, analytical and policy related research, and undertakes pilot projects to document good practices.</p>
        <p>ICM undertakes research and studies on migration of Indian workers for overseas employment and supports informed policy making in MEA. ICM also partners with individuals, institutions and governments to drive empirical, analytical and policy related research; enhance capacities and pilot good practices in international migration and its governance.</p>
        
      </div>

        
       <div class="col-sm-4 fl-left">

        <h3>Vision</h3>
        <p>Lead research and analysis on international migration to support informed policy making and enable strategic interventions for a coherent and harmonised response to the transnational movement of people from India.</p><p>ICM Partners with individuals, institutions and governments to drive empirical, analytical and policy related research; enhance capacities and pilot good practices in international migration and its governance.</p>

      </div>


    </div>
  </section>