<!-- <div class="sidemenu">
      
    <ul>

      <li style="margin: 0;padding: 10px;background:#02717f;">
        <a href="#">
          <img src="../../../assets/images/smalllogo.png" width="50">
        </a>
      </li>

      <li style="margin: 0;padding:70px 12px 10px;">
        <span class="openbtn"  (click)="openNav()">&#9776;</span>

        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      </li>

      <li class="rotate">
        <a href="#">Feedback</a>
      </li>

      <li class="rotate">
        <a href="#">FAQ</a>
      </li>

      <li class="rotate">
        <a href="#">Sitemap</a>
      </li>

      <li class="rotate">
        <a href="#">Help</a>
      </li>

      <li class="rotate" style="transform: none; margin-top: 80px!important;">
         <button type="button" class="search-btn"><i class="fa fa-search"></i></button>
      </li>

    </ul>

    <div id="mySidenav" class="sidenav">
  
   <ul class="nav navbar-nav navbar-right">                 
      <li class="active col-sm-12"><a href="http://testmi.in/icm" >Home</a></li>
      <li class="dropdown col-sm-12"><a href="http://testmi.in/icm/aboutus.html" >About Us <i class="fa fa-angle-double-right"></i></a>
        <ul class="dropdown-menu">
           <li><a  href="http://testmi.in/icm/aboutus.html">About ICM</a></li>
           <li><a  href="http://testmi.in/icm/ourteam.html">Our Team</a></li>
           <li><a  href="http://testmi.in/icm/formerchairman.html">Formal Chairman</a></li>
           <li><a  href="http://testmi.in/icm/highcommisioners.html">Previous Hign Commisioners</a></li>
           <li><a  href="http://testmi.in/icm/foreignservice.html">Indian Foreign Service</a></li>
        </ul>
      </li> 

      <li class="dropdown col-sm-12"><a href="#" >Media Centre <i class="fa fa-angle-double-right"></i></a>
        <ul class="dropdown-menu">
           <li><a href="http://testmi.in/icm/gallery.html" >Photo Gallery</a></li>
           <li><a href="http://testmi.in/icm/videogallery.html" >Video Gallery</a></li>
        </ul>
      </li> 

      <li class="col-sm-12"><a href="http://testmi.in/icm/project.html" >Projects</a></li>

      <li class="dropdown col-sm-12"><a href="#" >News <i class="fa fa-angle-double-right"></i></a>
        <ul class="dropdown-menu">
           <li><a  href="http://testmi.in/icm/Announcement.html">Announcement</a></li>
        </ul>
      </li>   

      <li class="dropdown col-sm-12"><a href="#" >Events <i class="fa fa-angle-double-right"></i></a>
        <ul class="dropdown-menu">
           <li><a  href="http://testmi.in/icm/previousevents.html">Previous Events</a></li>
           <li><a  href="http://testmi.in/icm/upcomingevents.html">Upcoming Events</a></li>
        </ul>
      </li>   
      <li class="col-sm-12"><a href="http://testmi.in/icm/research.html" >Research</a></li>
      <li class="col-sm-12"><a href="http://testmi.in/icm/archives.html" >Archieve</a></li>
      <li class="col-sm-12"><a href="http://testmi.in/icm/Pdotraning.html" >PDO Training</a></li>

      <li class="dropdown col-sm-12"><a href="#" >RTI <i class="fa fa-angle-double-right"></i></a>
        <ul class="dropdown-menu">
           <li><a  href="http://testmi.in/icm/Rtiact.html">Act</a></li>
           <li><a  href="http://testmi.in/icm/Rticomplain.html">RTI Complain</a></li>
        </ul>
      </li>

      
      <li class="col-sm-12"><a href="http://testmi.in/icm/contactus.html" >Contact Us</a></li> 
    </ul>  

 </div> -->
